{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Contraseña Exitosa</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/inicioseccion.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

<div class="container">
    <h1>Recuperación de Contraseña Exitosa 🎉</h1>
    <p>Tu contraseña ha sido cambiada correctamente.</p>
    <a href="{% url 'Sesion' %}">Volver al Inicio de Sesión</a>
</div>

<footer>
    <p>&copy; 2024 Tienda Online. Todos los derechos reservados.</p>
</footer>

</body>
</html>

